:root {
  --primary-background-color: #556B2F;
  --secondary-background-color: #F5F5DC;

  --primary-light-background-color: #88af3ea9;
  --secondary-light-background-color: #dcdc55;

  --primary-shadow-color: #556B2F;
  --secondary-shadow-color: #F5F5DC;

  --primary-text-color: #F5F5DC;
  --secondary-text-color: #556B2F;


  --white: #ffffff;
  --black: #000000;
  --grey: #797979;
  --transparent: #00000000;











}